{% extends 'base.html' %}
{% block title %} Voter -Registration Form{% endblock %}
{% block content %}
<h1>Add your venue to our database</h1>
{% if submitted %}
    <p class="success">
         Your venue was submitted successfully. Thank you.
     </p>

 {% else %}
     <form action="" method="post" novalidate>
     <table>
         {{ form.as_table }}
         <tr>
             <td>&nbsp;</td>
             <td><input type="submit" value="Submit"></td>
         </tr>
     </table>
     {% csrf_token %}
     </form>
 {% endif %}
 {% endblock content %}