{% extends 'base.html' %}
{% block content %}
<div class="title-top">
    <h2>Elections</h2>
</div>
    <div class="main">
    <div class="col mb-4">
        {% for election in elections_list %}
            <div class="card c-card">
                <div class="card-body">
                    <h5 class="card-title">{{ election.name }}</h5>
                    <p class="card-text">Start: {{ election.start }}</p>
                    <p class="card-text">End: {{ election.end }}</p>
                    <a href="{% url "admin_view_election" election.id %}" class="btn btn-primary">View</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}