{% extends 'base.html' %}
{% block content %}
<div class="title-top">
    <h2>Schools</h2>
</div>
<div class="main">
    <div class="col mb-4">
        {% for school in schools_list %}
            <div class="card c-card">
                <div class="card-body">
                   <p></p> <h5 class="card-title">{{ school.name }}</h5>
                    <a href="{% url "view_school" school.id %}" class="btn btn-primary">View</a></p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}